@model Ronisim.Models.PassToMyProfile

<!DOCTYPE html>
<html class="no-js css-menubar">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>BiPark | New Request</title>
    @*
        <link rel="apple-touch-icon" href="~/assets/images/apple-touch-icon.png">*@
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-extend.min.css?v=1">
    <link rel="stylesheet" href="~/assets/css/site.min.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="~/assets/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="~/assets/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/assets/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="~/assets/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="~/assets/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="~/assets/vendor/flag-icon-css/flag-icon.css">
    <link rel="stylesheet" href="~/assets/vendor/waves/waves.css">
    <link rel="stylesheet" href="~/assets/vendor/slick-carousel/slick.css">
    <link rel="stylesheet" href="~/assets/examples/css/pages/profile-v2.css">
    <link rel="stylesheet" href="~/assets/vendor/select2/select2.min.css"> @*
        <link rel="stylesheet" href="~/assets/vendor/icheck/icheck.min.css">*@
    <link rel="stylesheet" href="~/assets/vendor/jquery-labelauty/jquery-labelauty.min.css">
    <link id="datepickerTheme" href="~/PD/dist/css/persian-datepicker.min.css" rel="stylesheet" />

    <!-- Fonts -->
    <link rel="stylesheet" href="~/assets/fonts/material-design/material-design.min.css">
    <link rel="stylesheet" href="~/assets/fonts/brand-icons/brand-icons.min.css">
    <link rel="stylesheet" href="~/assets/fonts/Roboto/Roboto.css">
    <!-- Skin tools (demo site only) -->
    <link rel="stylesheet" href="~/assets/skins/skintools.min.css?v2.2.0">
    <link href="~/assets/css/custom.css" rel="stylesheet" />
    <style>
        .radiocus {
            height: 22px;
        }

        .btn-white {
            background-color: white;
            margin: auto !important;
        }

        .card-block * {
            font-weight: bold !important;
        }

        .select2 * {
            font-weight: bold !important;
        }

        .select2-results__options {
            font-weight: bold !important;
        }
    </style>
    <script src="~/assets/js/Section/skintools.min.js"></script>
    <!--[if lt IE 9]>
      <script src="~/assets/vendor/html5shiv/html5shiv.min.js"></script>
      <![endif]-->
    <!--[if lt IE 10]>
      <script src="~/assets/vendor/media-match/media.match.min.js"></script>
      <script src="~/assets/vendor/respond/respond.min.js"></script>
      <![endif]-->
    <!-- Scripts -->
    <script src="~/assets/vendor/breakpoints/breakpoints.js"></script>
    <script>
        Breakpoints();
    </script>

    <style>
        .container {
            position: relative;
            width: 50%;
        }

        .image {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }

        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%)
        }

        .container:hover .image {
            opacity: 0.3;
        }

        .container:hover .middle {
            opacity: 1;
        }

        .text {
            color: white;
            font-size: 12px;
            padding: 12px 24px;
        }
    </style>
</head>

<body class="site-navbar-small animsition page-profile-v2">
    <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <div id="divloader" class="vertical-align text-center loadermodal">
        <div class="loader vertical-align-middle loader-cube"></div>
    </div>

    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided" data-toggle="menubar">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-bar"></span>
            </button>
            <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse" data-toggle="collapse">
                <i class="icon md-more" aria-hidden="true"></i>
            </button>
            <a class="navbar-brand navbar-brand-center" href="#">
                <span class="navbar-brand-text hidden-xs-down" style="font-weight: 600; color: white"> BiPark Shop</span>
            </a>
        </div>
        <div class="navbar-container container-fluid">
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
                <!-- Navbar Toolbar -->
                <ul class="nav navbar-toolbar">
                    <li class="nav-item hidden-float" id="toggleMenubar">
                        <a class="nav-link" data-toggle="menubar" href="#" role="button">
                            <i class="icon hamburger hamburger-arrow-left">
                                <span class="sr-only">Toggle menubar</span>
                                <span class="hamburger-bar"></span>
                            </i>
                        </a>
                    </li>
                </ul>
                <!-- End Navbar Toolbar -->
                <!-- Navbar Toolbar Right -->
                <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link" onclick="refreshOrderList2()" aria-expanded="false" style="cursor: pointer;" data-animation="scale-up"
                           role="button">
                            <b class="font-size-14" aria-hidden="true">Reload this page</b>
                            <i class="icon md-refresh-alt font-size-12" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="modal" data-target="#myModal" aria-expanded="false" style="cursor: pointer;" data-animation="scale-up"
                           role="button">
                            <b class="font-size-14" aria-hidden="true">افرایش موجودی</b>
                            <i class="icon md-plus-circle-o font-size-12" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" onclick="showtransanction()" aria-expanded="false" style="cursor: pointer;" data-animation="scale-up"
                           role="button">
                            <b class="font-size-12" aria-hidden="true">تراکنش ها</b>
                            <i class="icon md-money font-size-12" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="clink" href="javascript:void(0)" style="text-align: right; margin-top: 10px;">

                            <b class="font-size-12" aria-hidden="true" id="bal11"></b> |
                            <b class="font-size-12" aria-hidden="true" id="bal12"></b>
                            <p>
                                <b class="font-size-12" aria-hidden="true" id="bal13"></b> |
                                <b class="font-size-12" aria-hidden="true" id="bal14"></b>
                            </p>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="" aria-expanded="false" data-animation="scale-up"
                           role="button">
                            <b class="font-size-12" aria-hidden="true">اطلاعیه ها</b>
                            <span class="badge badge-pill badge-info up">@Model.iNews.Count</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left dropdown-menu-media text-right" dir="rtl" role="menu">
                            <div class="list-group">
                                <div data-role="container">
                                    <div data-role="content">
                                        @if (Model.iNews.Count == 0)
                                        {
                                            <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                                                <div class="media">
                                                    <div class="media-body">
                                                        <h6 class="media-heading">اطلاعیه وجود ندارد</h6>
                                                    </div>
                                                </div>
                                            </a>
                                        }
                                        else
                                        {
                                            foreach (var ns in Model.iNews)
                                            {
                                                <a class="list-group-item dropdown-item" role="menuitem">
                                                    <div class="media">
                                                        <div class="media-body">
                                                            <h6 class="media-heading">@ns.Text</h6>
                                                        </div>
                                                    </div>
                                                </a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Messages" aria-expanded="false" data-animation="scale-up"
                           role="button">
                            <b class="font-size-14" aria-hidden="true" dir="rtl">@Model.iUser.Fname @Model.iUser.Lname (کد کاربر: @Model.iUser.Code)</b>
                        </a>
                    </li>
                </ul>
                <!-- End Navbar Toolbar Right -->
            </div>
            <!-- End Navbar Collapse -->
        </div>
    </nav>


    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">افزایش موجودی</h4>
                </div>
                <div class="modal-body vertical-align text-center">
                    <form id="bla" class="vertical-align-middle col-lg-8" autocomplete="off">
                        <br />
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="pamount" lang="pnum" placeholder="مقدار - به ریال">
                            </div>
                        </div>
                        <div class="form-group">
                            <b id="pwamount">لطفا مبلغ را به ریال وارد کنید</b>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <textarea class="form-control" dir="auto" placeholder="توضیحات" id="pinfo" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" onclick="GoToBank()" class="btn btn-primary btn-block">رفتن به درگاه بانک</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="site-menubar">
        <div class="site-menubar-body">
            <ul class="site-menu" data-plugin="menu" style="direction: rtl;">
                <li class="site-menu-category">Welcome to Ronisim</li>
                <li class="dropdown site-menu-item has-sub ">
                    <a data-toggle="dropdown" href="@Url.Action("Index", "iUser")" data-dropdown-toggle="false">
                        <i class="site-menu-icon md-account" aria-hidden="true"></i>
                        <span class="site-menu-title">کاربران</span>
                    </a>
                </li>
                <li class="dropdown site-menu-item has-sub active">
                    <a data-toggle="dropdown" href="#" data-dropdown-toggle="false">
                        <i class="site-menu-icon md-plus-circle" aria-hidden="true"></i>
                        <span class="site-menu-title">ثبت رزرو</span>
                    </a>
                </li>
                <li class="dropdown site-menu-item has-sub">
                    <a data-toggle="dropdown" href="@Url.Action("Requests", "iUser")" data-dropdown-toggle="false">
                        <i class="site-menu-icon md-filter-list" aria-hidden="true"></i>
                        <span class="site-menu-title">لیست رزرو ها</span>
                    </a>
                </li>
                <li class="dropdown site-menu-item has-sub">
                    <a data-toggle="dropdown" href="@Url.Action("Transaction", "iUser")" data-dropdown-toggle="false">
                        <i class="site-menu-icon md-filter-list" aria-hidden="true"></i>
                        <span class="site-menu-title">لیست تراکنش ها</span>
                    </a>
                </li>
                <li class="dropdown site-menu-item has-section has-sub">
                    <a data-toggle="dropdown" href="@Url.Action("Index", "Logout")" onclick="return confirm('آیا میخواهید از سایت خارج شوید؟')" data-dropdown-toggle="false">
                        <i class="site-menu-icon md-power" aria-hidden="true"></i>
                        <span class="site-menu-title">خروج</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Page -->
    <div class="page">
        <div class="page-content container-fluid">
            <div class="row">
                <!-- Middle Column -->
                <div class="col-lg-12 col-xl-5 push-xl-3">
                    <!-- User Content Release -->
                    <div class="user-posts card card-shadow">
                        <div class="card-block text-center">
                            <div class="user-release-actions col-lg-9 vertical-align-middle">
                                <a class="btn btn-primary btn-block profile-readMore waves-effect waves-classic" href="@Url.Action("Requests", "iUser")"><b>لیست کامل رزرو ها</b></a>
                            </div>
                        </div>
                    </div>
                    <!-- End User Content Release -->
                    <!-- User Background -->
                    <div class="user-background card card-shadow panel">
                        <form autocomplete="off" style="text-align:center">

                            <img src="~/logo.png" style="margin-bottom:15px;margin-top:15px;max-height: 150px;" />
                            <div class="vertical-align-middle col-lg-9">
                                <div class="form-group">
                                    <label>تاریخ ورود</label>
                                    <div class="col-md-11">
                                        <input type="text" class="form-control" id="fromDate2" placeholder="مثل 1397/01/01" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="vertical-align-middle col-lg-9">
                                <div class="form-group">
                                    <label>ساعت ورود</label>
                                    <select id="combotime" class="form-control" dir="rtl" data-plugin="select2" data-placeholder="ساعت ورود را انتخاب کنید" data-allow-clear="true">
                                        <option></option>
                                        @for (var f = 0; f <= 23; f++)
                                        {
                                            <option value="@f">ساعت @f:00</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="vertical-align-middle col-lg-9">
                                <div class="form-group">
                                    <label>تاریخ خروج</label>
                                    <div class="col-md-11">
                                        <input type="text" class="form-control" id="toDate2" placeholder="مثل 1397/01/02" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="vertical-align-middle col-lg-9">
                                <div class="form-group">
                                    <label>ساعت خروج</label>
                                    <select id="combotime2" class="form-control" dir="rtl" data-plugin="select2" data-placeholder="ساعت خروج را انتخاب کنید" data-allow-clear="true">
                                        <option></option>
                                        @for (var f = 0; f <= 23; f++)
                                        {
                                            <option value="@f">ساعت @f:00</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="vertical-align-middle col-lg-9">
                                <div class="form-group">
                                    <label>مکان های پارکینگ</label>
                                    <select id="combopack" class="form-control" dir="rtl" data-plugin="select2" data-placeholder="جای پارک مورد نظر را انتخاب کنید" data-allow-clear="true">
                                        <option></option>
                                        @foreach (var a in Model.iProduct)
                                        {
                                            <option value="@a.Id" dir="rtl">@a.Name - قیمت: @string.Format("{0:n0}", a.Price1) ساعت/ریال</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-lg-8 vertical-align-middle">
                                <button type="button" id="saverequestbtn" style="z-index: 0;" class="btn btn-primary btn-block">ثبت رزرو</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Middle Column -->
                <!-- Left Column -->
                <div class="col-xl-3 pull-xl-5">
                    <div class="user-info card card-shadow text-center">
                        <div class="user-base card-block">
                            <h5 class="user-job" id="bal1"></h5>
                            <h5 class="user-job" id="bal2"></h5>
                            <h5 class="user-job" id="bal3"></h5>
                            <h5 class="user-job" id="bal4"></h5>
                            <h5 class="user-job" id="bal5"></h5>
                            <h5 class="user-job" id="bal6"></h5>
                            <h5 class="user-job" id="bal7"></h5>
                            <h5 class="user-job" id="bal8"></h5>
                            <h5 class="user-job" id="bal9"></h5>
                            <h5 class="user-job" id="bal10"></h5>
                        </div>
                        <br />
                        <!-- End Friends List -->
                    </div>
                    <div class="user-info card card-shadow text-right">
                        <div class="user-base card-block">
                            <h4>اطلاعیه ها</h4>
                            <hr />
                            @if (Model.iNews != null && Model.iNews.Count != 0)
                            {
                                @foreach (var a in Model.iNews)
                                {
                                    <p>@a.Text</p>
                                }}
                            else
                            {
                                <h5>هیچ اطلاعیه وجود ندارد</h5>

                            }
                        </div>
                        <!-- End Friends List -->
                    </div>
                </div>
                <!-- End Left Column -->
                <!-- Right Column -->
                <div class="col-lg-6 col-xl-4" dir="rtl">                    
                    <div class="card user-visitors">
                        <div class="card-header card-header-transparent p-20">
                            <h4 class="card-title mb-0">لیست تمامی رزرو ها</h4>
                        </div>
                        <div class="card-block">
                            <ul class="list-group list-group-full list-group-dividered mb-0" id="orderlist"></ul>
                        </div>
                    </div>
                </div>

                <!-- End Right Column -->
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="site-footer">
        <div class="site-footer-legal">© @DateTime.Now.Year <a href="#">BiPark</a></div>
        <div class="site-footer-right">

        </div>
    </footer>
    <!-- Core  -->
    <script src="~/assets/vendor/babel-external-helpers/babel-external-helpers.js"></script>
    <script src="~/assets/vendor/jquery/jquery.js"></script>
    <script src="~/assets/vendor/tether/tether.js"></script>
    <script src="~/assets/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/assets/vendor/animsition/animsition.js"></script>
    <script src="~/assets/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="~/assets/vendor/asscrollbar/jquery-asScrollbar.js"></script>
    <script src="~/assets/vendor/asscrollable/jquery-asScrollable.js"></script>
    <script src="~/assets/vendor/waves/waves.js"></script>
    <!-- Plugins -->
    <script src="~/assets/vendor/switchery/switchery.min.js"></script>
    <script src="~/assets/vendor/intro-js/intro.js"></script>
    <script src="~/assets/vendor/screenfull/screenfull.js"></script>
    <script src="~/assets/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="~/assets/vendor/slick-carousel/slick.js"></script>
    <script src="~/assets/vendor/select2/select2.full.min.js"></script>
    <script src="~/assets/vendor/bootbox/bootbox.js"></script>
    @*
        <script src="~/assets/vendor/icheck/icheck.min.js"></script>*@
    <script src="~/assets/vendor/jquery-labelauty/jquery-labelauty.js"></script>
    <!-- Scripts -->
    <script src="~/assets/js/State.js"></script>
    <script src="~/assets/js/Component.js"></script>
    <script src="~/assets/js/Plugin.js"></script>
    <script src="~/assets/js/Base.js"></script>
    <script src="~/assets/js/Config.js"></script>
    <script src="~/assets/js/Section/Menubar.js"></script>
    <script src="~/assets/js/Section/Sidebar.js"></script>
    <script src="~/assets/js/Section/PageAside.js"></script>
    <script src="~/assets/js/Plugin/menu.js"></script>
    <script src="~/assets/js/Plugin/jquery-labelauty.min.js"></script>

    <script src="~/PD/ts/persian-date/dist/persian-date.js" type="text/javascript"></script>
    <script src="~/PD/dist/js/persian-datepicker.min.js"></script>
    <!-- Config -->
    <script src="~/assets/js/config/colors.js"></script>
    <script src="~/assets/js/config/tour.js"></script>
    <script>
        Config.set('assets', 'assets');
    </script>
    <!-- Page -->
    <script src="~/assets/js/Site.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->


    <script src="~/assets/js/Plugin/asscrollable.js"></script>
    <script src="~/assets/js/Plugin/slidepanel.js"></script>
    <script src="~/assets/js/Plugin/switchery.js"></script>
    <script src="~/assets/examples/js/pages/profile-v2.js"></script>
    @if (ViewBag.orderSuccess != null)
    {
        if (ViewBag.orderSuccess == "true")
        {
            <script>
            var dialog = bootbox.dialog({
                message: '@ViewBag.orderMes',
                closeButton: true,
                backdrop: true
            });
            </script>
        }
        else
        {
            <script>
            var dialog = bootbox.dialog({
                message: '@ViewBag.orderMes',
                closeButton: true,
                backdrop: true
            });
            </script>
        }
    }
    <script>
            var stdid = '@Model.iUser.Id';

            function gettoken() {
                var token = '@Html.AntiForgeryToken()';
                token = $(token).val();
                return token;
            }
        var HostUrl = "http://" + "@Context.Request.Host";
        $("#toDate2").persianDatepicker({
            observer: true,
            format: 'YYYY/MM/DD',
            initialValue: false,
            calendar: {
                persian: {
                    enabled: true,
                    locale: 'en',
                }
            }
        });
        $("#fromDate2").persianDatepicker({
            observer: true,
            format: 'YYYY/MM/DD',
            initialValue: false,
            calendar: {
                persian: {
                    enabled: true,
                    locale: 'en',
                }
            }
        });
    </script>
    <script src="~/assets/js/CheckType.js?v=1005"></script>
    <script src="~/assets/js/Custom/resseler.js?v=1005"></script>
    <script src="~/assets/js/Custom/all1.js?v=1005"></script>
</body>
</html>